.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  border: 0px;
  color: teal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: 2px dashed green;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
}

.name {
  color: teal;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

.cross {
  color: salmon;
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.cross:hover {
  color: red;
}

@media (min-width: 500px) {
  .Person {
    width: "450px";
  }
}
